[Dimensions]
NI = 192
NJ = 96
NK = 192

[GridSpecs]
RMIN = 215.
RMAX = 6450.
THETAMIN = 1.e-6

[Output]
Prefix = pluto
Dir = .

[Normalization]
; scale units expressed in cgs
Xscale = 6.955e10  ; cm
Nscale = 1         ; cm^-3
Bscale = 1.e-5     ; nT



[Magnetic polarity]
Monopole : no

[Constants]
gamma = 1.5
NO2   = 4
Tsolar = 25.38  ; solar rotation period in days

[LFM]
infile = /Users/merkivg1/work/LFM-helio_2.0/Pluto/cr1892_192x96x192_mhd_0036000.hdf

[DUMPS]
init = yes
BC = yes