[Dimensions]
NI = 192
NJ = 96
NK = 192

[GridSpecs]
RMIN = 21.5
RMAX = 221.5
THETAMIN = 1.e-6

[Output]
Prefix = 2012
Dir = /glade/scratch/vgm/LFM-helio/ADAPT/2012rf/innerbc/

[Normalization]
Xscale = 6.955e10

[Magnetic polarity]
Monopole : no

[Constants]
gamma = 1.5  ;1.05
NO2   = 4
Tsolar = 25.38  ; solar rotation period in days

[ADAPT]
adaptdir = /glade/p/ujhb0003/LFM-helio/WSA/fits/
wild_card = vel*2012*R006*.fits
cadence = 0.0833333   ; cadence in days -- make sure to retain units throughout (not Tsolar above)
density_temperature_infile = no
gauss_smooth_width = 0 ;8
plots = yes
normalized = no


[DUMPS]
init = no
BC = yes