[Dimensions]
NI = 384
NJ = 192
NK = 384

[GridSpecs]
RMIN = 20.
RMAX = 215
THETAMIN = 1.e-6

[OutputFileName]
Prefix = mas2lfm_real

[Normalization]
Xscale = 6.955e10

[Magnetic polarity]
Monopole : no

[Constants]
gamma = 1.5
NO2   = 4
Tsolar = 25.38  ; solar rotation period in days

[MAS]
masdir = /Users/merkivg1/work/LFM-helio_2.0/PSI/REAL_CASE   ; work/LFM-helio_2.0/PSI/Polytropic_run/tdmpoly01f
masTimeLabel = all  ;1  ;12
masFrame = inertial   ; rotating
masFakeRotation = yes

[DUMPS]
init = True    ; whether to dump the startup hdf file
BC   = True    ; whether to dump the boundary condition files