[Dimensions]
NI = 106
NJ = 96
NK = 128

[GridSpecs]
RMIN = 20.
RMAX = 50.
THETAMIN = 1.e-6

[Output]
Prefix = mas2lfm_real
Dir    = .

[Normalization]
Xscale = 6.955e10

[Magnetic polarity]
Monopole : no

[Constants]
gamma = 1.5
NO2   = 4
Tsolar = 25.38  ; solar rotation period in days

[MAS]
masdir = /Users/merkivg1/work/LFM-helio_2.0/PSI/Polytropic_run/tdmpoly01R
;/Users/merkivg1/work/LFM-helio_2.0/PSI/REAL_CASE   ; work/LFM-helio_2.0/PSI/Polytropic_run/tdmpoly01f
masTimeLabel = 12 ;all  ;1  
masFrame = inertial   ; rotating
masFakeRotation = yes

[DUMPS]
init = False    ; whether to dump the startup hdf file
BC   = True    ; whether to dump the boundary condition files