[Dimensions]
NI = 192
NJ = 96
NK = 192

[GridSpecs]
RMIN = 21.5
RMAX = 215.
THETAMIN = 1.e-6

[Output]
Prefix = cr2058
Dir = .

[Normalization]
Xscale = 6.955e10

[Magnetic polarity]
Monopole : no

[Constants]
gamma = 1.666667  ;1.05
NO2   = 4
Tsolar = 25.38  ; solar rotation period in days

[WSA]
wsafile = /Users/merkivg1/work/LFM-helio_2.0/WSA/fits/vel_200706211200R001_ans.fits
;/Users/merkivg1/work/LFM-helio_2.0/WSA/fits/vel_200710081200R001_ans.fits
;amun/vgm/work/LFM-helio/Fast_Latitude_Scan/ulys/WSA_SUB2.1/Baseline/1892.fits
density_temperature_infile = false
gauss_smooth_width = 0 ; 8
plots = yes


[DUMPS]
init = yes
BC = no