[MAS]

bt_lim_lo = -1.e-3
bt_lim_hi = 1.e-3

bp_lim_lo = -1.e-3
bp_lim_hi = 1.e-3

br_lim_lo = -2.e-3
br_lim_hi = 2.e-3

vr_lim_lo = 3.e7
vr_lim_hi = 4.e7

vt_lim_lo = -2.e6
vt_lim_hi = 2.e6

vp_lim_lo = -2.e6
vp_lim_hi = 2.e6

rho_lim_lo = 5.e-21
rho_lim_hi = 1.e-20

t_lim_lo = 9.7e5
t_lim_hi = 1.05e6



bt_fmt = %.8f
bp_fmt = %.8f
br_fmt = %.4f
vr_fmt = %.4e
vt_fmt = %.4e
vp_fmt = %.4e
rho_fmt = %.4e
t_fmt = %.4e

