[Dimensions]
NI = 106
NJ = 192
NK = 256

[GridSpecs]
RMIN = 20.
RMAX = 50.
THETAMIN = 1.e-6

[Output]
Prefix = mas2lfm_tx2_gravity
Dir    = .

[Normalization]
Xscale = 6.96e10 

[Magnetic polarity]
Monopole : no

[Constants]
gamma = 1.05
NO2   = 4
Tsolar = 25.38  ; solar rotation period in days

[MAS]
masdir = /Users/merkivg1/work/LFM-helio_2.0/PSI/Polytropic_run/tdmpoly01f
;/Users/merkivg1/work/LFM-helio_2.0/PSI/REAL_CASE   ; work/LFM-helio_2.0/PSI/Polytropic_run/tdmpoly01R
masTimeLabel =  1 ; 12  ;1  
masFrame = inertial   ; rotating
masFakeRotation = no

[DUMPS]
init = yes    ; whether to dump the startup hdf file
BC   = yes    ; whether to dump the boundary condition files